@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  font-family: 'Montserrat', sans-serif;
}

header {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  margin-left: 30px;
  margin-top: 30px;
  font-weight: lighter;
}

header h1 a {
  text-decoration: none;
  color: #707070;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  list-style: none;
  width: auto;
  height: auto;
  margin-top: 20px;
}

.menu li {
  float: left;
  padding: 1.1em;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.menu li a {
  color: white;
  background-color: inherit;
  text-align: center;
  padding: 0.5em 0.5em;
  text-decoration: none;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
}

.bg {
  width: 51%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: -2;
  pointer-events: none;
}

#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.input-container {
  display: inline-block;
  position: absolute;
  width: 370px;
  height: 200px;
  top: 246px;
  left: 55px;
  border-radius: 60px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 31, 44, 0.9)), to(rgba(220, 64, 15, 0.8)));
  background-image: linear-gradient(to bottom right, rgba(245, 31, 44, 0.9), rgba(220, 64, 15, 0.8));
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -webkit-box-shadow: 7px 5px 15px #707070;
          box-shadow: 7px 5px 15px #707070;
  pointer-events: none;
}

.input-container-changed {
  height: 380px;
  top: 150px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(245, 31, 44, 0.8)), to(rgba(220, 64, 15, 0.98)));
  background-image: linear-gradient(to bottom right, rgba(245, 31, 44, 0.8), rgba(220, 64, 15, 0.98));
  -webkit-transition: 0.6s;
  transition: 0.6s;
  pointer-events: inherit;
}

.pickup {
  position: absolute;
  width: 280px;
  height: 40px;
  border-radius: 30px;
  padding: 0.2em 1em;
  top: 277px;
  left: 82px;
  border: none;
  text-align: center;
  font-size: 1.2em;
  caret-color: #707070;
  color: #f51f2c;
  font-weight: 500;
}

.pickup::-moz-selection {
  color: rgba(245, 31, 44, 0.5);
  background: rgba(220, 64, 15, 0.4);
}

.pickup::selection {
  color: rgba(245, 31, 44, 0.5);
  background: rgba(220, 64, 15, 0.4);
}

.pickup:focus::-webkit-input-placeholder {
  opacity: 0;
}

.pickup::-webkit-input-placeholder {
  color: #f51f2c;
}

.pickup:focus {
  outline: none;
  font-weight: 600;
}

.pickup-changed {
  top: 180px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.destination {
  position: absolute;
  width: 280px;
  height: 40px;
  border-radius: 30px;
  padding: 0.2em 1em;
  top: 367px;
  left: 82px;
  border: none;
  text-align: center;
  font-size: 1.2em;
  caret-color: #707070;
  color: #f51f2c;
  font-weight: 500;
}

.destination:focus::-webkit-input-placeholder {
  opacity: 0;
}

.destination:focus {
  outline: none;
  font-weight: 600;
}

.destination::-moz-selection {
  color: rgba(245, 31, 44, 0.5);
  background: rgba(220, 64, 15, 0.4);
}

.destination::selection {
  color: rgba(245, 31, 44, 0.5);
  background: rgba(220, 64, 15, 0.4);
}

.destination-changed {
  top: 266px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.arrows {
  position: absolute;
  width: 1.4em;
  height: 0.8em;
  left: 230px;
  top: 340px;
  pointer-events: none;
}

.arrows-changed {
  top: 240px;
  -webkit-transition: 1s;
  transition: 1s;
}

.pac-container {
  border-radius: 20px;
  padding: 8px;
  margin-top: 6px;
}

.pac-item {
  border: none;
  margin: 0;
  padding: 0 4px;
}

.pac-item:hover .pac-item-query {
  color: #f51f2c;
  font-weight: bold;
  padding-left: 4px;
}

.pac-item:hover .pac-icon {
  width: 14px;
  height: 19px;
  background-image: url(http://maps.google.com/mapfiles/ms/icons/red-dot.png);
  background-size: 18px;
}

.pac-matched {
  color: #dc400f;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-time {
  opacity: 0;
  pointer-events: none;
}

.show-time {
  opacity: 1;
  display: inline-block;
  position: relative;
  color: rgba(255, 255, 255, 0.644);
  top: 185px;
  left: 75px;
  font-size: 1.3em;
  font-weight: 500;
  padding: 1em;
  pointer-events: none;
  -webkit-animation: fade 3s;
          animation: fade 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#span-time {
  font-weight: bolder;
  font-size: 0.9em;
  color: white;
}

.hide-cost {
  opacity: 0;
  pointer-events: none;
}

.show-cost {
  opacity: 1;
  display: inline-block;
  position: absolute;
  color: rgba(255, 255, 255, 0.644);
  top: 338px;
  left: 75px;
  font-size: 1.3em;
  font-weight: 500;
  padding: 1em;
  pointer-events: none;
  -webkit-animation: fade 3s;
          animation: fade 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#span-cost {
  font-weight: bolder;
  font-size: 0.9em;
  color: white;
}

.hide-button {
  opacity: 0;
  pointer-events: none;
}

.show-button {
  opacity: 1;
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 451px;
  left: 100.4px;
  width: 280px;
  height: 50px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#dc400f), to(#f51f2c));
  background-image: linear-gradient(to bottom right, #dc400f, #f51f2c);
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  padding-top: -1cm;
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  -webkit-animation: fade 2.5s;
          animation: fade 2.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  pointer-events: inherit;
}

.show-button:hover {
  cursor: pointer;
  color: #f51f2c;
  background: white;
  font-weight: bold;
  border: 3px solid rgba(245, 31, 44, 0.9);
}
/*# sourceMappingURL=parcel_style.css.map */